---
import Home from "./../components/Home.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Oncology 2024 - International Conference on Multidisciplinary Management
      of Common Cancers
    </title>
  </head>
  <body>
    <!-- <h1>Astro</h1> -->
    <Home client:load class="home" />
  </body>
</html>
<style>
  /* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
</style>
<style>
  * {
    font-family: "Roboto Slab", serif;
    background-color: #00ff0010;
    /* outline: 1px solid #00ff00 !important; */
  }
  /* h1 {
    background: red;
  } */
  .home {
    @apply w-full;
  }
  body {
    background-image: linear-gradient(
      to right,
      #ffecca,
      #ffedcb,
      #ffeecd,
      #ffeece,
      #ffefd0,
      #ffedcc,
      #feebc7,
      #fee9c3,
      #fee4b8,
      #fedeae,
      #fed9a3,
      #ffd399
    );
  }
  /* body {
    background: rgb(255, 236, 202);
    background: -moz-linear-gradient(
      90deg,
      rgba(255, 236, 202, 1) 0%,
      rgba(255, 240, 210, 1) 35%,
      rgba(255, 211, 153, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(255, 236, 202, 1) 0%,
      rgba(255, 240, 210, 1) 35%,
      rgba(255, 211, 153, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(255, 236, 202, 1) 0%,
      rgba(255, 240, 210, 1) 35%,
      rgba(255, 211, 153, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffecca",endColorstr="#ffd399",GradientType=1);
  } */
</style>
